<a href="https://colab.research.google.com/github/Ganeshprasannamax/Task_8/blob/main/NLP_English.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd

In [13]:
df=pd.read_csv("English.csv")

In [14]:
df.head()

  English words/sentences
0                     Hi.
1                    Run!
2                    Run!
3                    Who?
4                    Wow!

In [2]:
df.shape

(175621, 1)

In [3]:
df.drop_duplicates(keep=False,inplace=True)

In [4]:
df.shape

(87677, 1)

In [5]:
df["English words/sentences"].unique()

array(['Hi.', 'Who?', 'Wow!', ...,
       "Death is something that we're often discouraged to talk about or even think about, but I've realized that preparing for death is one of the most empowering things you can do. Thinking about death clarifies your life.",
       'Since there are usually multiple websites on any given topic, I usually just click the back button when I arrive on any webpage that has pop-up advertising. I just go to the next page found by Google and hope for something less irritating.',
       "If someone who doesn't know your background says that you sound like a native speaker, it means they probably noticed something about your speaking that made them realize you weren't a native speaker. In other words, you don't really sound like a native speaker."],
      dtype=object)

In [15]:
df.tail()

                                  English words/sentences
175616  Top-down economics never works, said Obama. "T...
175617  A carbon footprint is the amount of carbon dio...
175618  Death is something that we're often discourage...
175619  Since there are usually multiple websites on a...
175620  If someone who doesn't know your background sa...

In [7]:
df.isnull().sum()

English words/sentences    0
dtype: int64

In [8]:
df1=df.copy()

# Task 1

In [17]:
from googletrans import Translator

ModuleNotFoundError: ignored

In [ ]:
#Translate from english to spanish
def translator(x):
    t=Translator()
    trans=t.translate(x,dest="es")
    return trans.text

In [ ]:
#Translate from english to german
def translato(x):
    t=Translator()
    trans=t.translate(x,dest="german")
    return trans.text

In [ ]:
#Translate from english to french
def translators(x):
    t=Translator()
    trans=t.translate(x,dest="french")
    return trans.text

In [ ]:
words=df["English words/sentences"].head(100)#top 100 datapoint is for words to perform the translation
#if we do for all the datapoint it occur a error called timedout 
sentence=df["English words/sentences"].tail(100)#bottom 100 is the sentence datapoint to perform the translation

In [ ]:
#creating two empty dataframe
df2=pd.DataFrame()
df3=pd.DataFrame()

In [ ]:
#updating the two dataframe with the values of df
df2["English words/sentences"]=df["English words/sentences"].head(100)
df3["English words/sentences"]=df["English words/sentences"].tail(100)

In [ ]:
#using apply function to perform the operation of translation
df2["spanish words/sentences"]=words.apply(translator)
df3["spanish words/sentences"]=sentence.apply(translator)

In [ ]:
#using apply function to perform the operation of translation
df2["french words/sentences"]=words.apply(translators)
df3["french words/sentences"]=sentence.apply(translators)

In [ ]:
#using apply function to perform the operation of translation
df2["german words/sentences"]=words.apply(translato)
df3["german words/sentences"]=sentence.apply(translato)

In [ ]:
language=pd.concat([df2,df3],axis=0)#then concatention the two different dataframe

In [ ]:
language.head()#seeing the concat dataframe

## Conclusion

### Translation of english to any other language can be done using google translator

# Task 2

In [ ]:
from textblob import TextBlob#library

In [ ]:
#function for correcting the spelling 
def correction(x):
    def convert(x):
        li=list(x.split(" "))
        return li
    words=convert(x)
    #return words
    corrected_words=[]
    for i in words:
        corrected_words.append(TextBlob(i))
    for i in corrected_words:
        return "".join(i.correct())

In [ ]:
words=df["English words/sentences"].head(100)#top 100 datapoints for words
sentence=df["English words/sentences"].tail(100)#bottom 100 datapoints for sentence

In [ ]:
#creating the empty dataframe
df4=pd.DataFrame()
df5=pd.DataFrame()

In [ ]:
#updating the two dataframe with the values of df
df4["English words/sentences"]=df["English words/sentences"].head(100)
df5["English words/sentences"]=df["English words/sentences"].tail(100)

In [ ]:
#using apply function to perform the operation of translation
df4["spelling words/sentences"]=df["English words/sentences"].apply(correction)
df5["spelling words/sentences"]=df["English words/sentences"].apply(correction)

In [ ]:
spell_correction=pd.concat([df4,df5],axis=0)#concat the dataframe

In [ ]:
spell_correction.head()#viewing the top 5 datapoint

# Task 3

In [ ]:
import docx2txt#library
from sklearn.feature_extraction.text import CountVectorizer#library 
from sklearn.metrics.pairwise import cosine_similarity#library

job_description=docx2txt.process("C:/Users/hp/Desktop/DataScience/Guvi_task/Task_8/Job_description.docx")

resume=docx2txt.process("C:/Users/hp/Desktop/DataScience/Guvi_task/Task_8/Nithish S.docx")

content=[job_description,resume]#convert the text to a list

cv=CountVectorizer()#countvectorizer convert text to numerical

matrix=cv.fit_transform(content)

similarity=cosine_similarity(matrix)#cosine similarity between the job description and your resume

print("Resume match :{} %".format(round(similarity[1][0]*100)))

# Task 4

### Details collected from : Customer Name, Mobile Number, Address, ID proof, and Room Type and date of arrival and departure date. Keep some eligibility to Book the Room .All through voice to text classifications

In [ ]:
import speech_recognition as sr#library
#function for voice to text 
def speech():
    r=sr.Recognizer()
    with sr.Microphone() as source:
        audio=r.listen(source)
        try:
            t=r.recognize_google(audio)
            return t
        except:
             return None

In [ ]:
# Import the required module for text
# to speech conversion
from gtts import gTTS

# This module is imported so that we can
# play the converted audio
import os
def audio(mytext):
    # Language in which you want to convert
    language = 'en'
    # Passing the text and language to the engine,
    # here we have marked slow=False. Which tells
    # the module that the converted audio should
    # have a high speed
    myobj = gTTS(text=mytext, lang=language, slow=False)
    return myobj

In [ ]:
#function for criteria match
def criteria(member):
    if int(member)<=3:
        mytext="Need to check for the villa but 1,2,3 BHK are available sir\madam"
        myobj=audio(mytext)
        myobj.save("4.mp3")
        os.system("4.mp3")
    elif ((int(member)>=3) | (int(member)<=10)):
        mytext=" Need to check for the villa but 1,2,3 BHK are available sir\madam"
        myobj=audio(mytext)
        myobj.save("5.mp3")
        os.system("5.mp3")
    else:
        mytext=" Villa is available and 1,2,3 BHK is not available sir\madam"
        myobj=audio(mytext)
        myobj.save("6.mp3")
        os.system("6.mp3")

In [ ]:
#main function
#code for name function
mytext="Welcome to Wave Hotel, and myself Diya and May i know your good name sir or madam"
myobj=audio(mytext)
myobj.save("welcome.mp3")
os.system("welcome.mp3")
name=speech()
#code for phone number
mytext="Nice Name sir or madam can you please say the 10 digit Phone Number"
myobj=audio(mytext)
myobj.save("phonenumber.mp3")
os.system("phonenumber.mp3")
phone_number=speech()
#code for address
mytext= "Please provide the Address(City name)"
myobj=audio(mytext)
myobj.save("address.mp3")
os.system("address.mp3")
address=speech()
#code for id_proof
mytext="Please share Aadhar number or any id proof for verification"
myobj=audio(mytext)
myobj.save("proof.mp3")
os.system("proof.mp3")
id_proof=speech()
#code for room_type
mytext="What kind of room are you looking sir/madam We have 1BHK or 2BHK or 3BHK or Villa are available"
myobj=audio(mytext)
myobj.save("room.mp3")
os.system("room.mp3")
room_type=speech()
#code for arrival date
mytext="Arrival Date sir/madam like if its 24\02\2022 means say '24Feb' like this"
myobj=audio(mytext)
myobj.save("arrivaldate.mp3")
os.system("arrivaldate.mp3")
date=speech()
#code for group of member
mytext=" Member coming sir/madam"
myobj=audio(mytext)
myobj.save("member.mp3")
os.system("member.mp3")
Member=speech()
#code for depature date
mytext=" Depature Date sir/madam like if its 28\02\2022 means say '28Feb' like this"
myobj=audio(mytext)
myobj.save("depaturedate.mp3")
os.system("depaturedate.mp3")
depature_date=speech()
#criteria check
criteria(member)
#final segment for confirmation ogf booking
mytext="To confirm the booking please press 1 or want to wait for the room press 2 or any queries please press any"
myobj=audio(mytext)
myobj.save("booking.mp3")
os.system("booking.mp3")
a=input("To confirm the booking please press 1 or want to wait for the room press 2 or any queries please press any:")
if a=="1":
    mytext="Thanks for Booking Happy vacation\n Thank you please visit again"
    myobj=audio(mytext)
    myobj.save("1.mp3")
    os.system("1.mp3")
elif a=="2":
    mytext="We are extremly sorry for this and we hope the waiting will be sort out quickly \nThank you please visit again"
    myobj=audio(mytext)
    myobj.save("2.mp3")
    os.system("2.mp3")
else:
    mytext="Please contact xyz@xyz.com for queries or please contact xxxxxxxxxx for any queries \n Thank you please visit again"
    myobj=audio(mytext)
    myobj.save("3.mp3")
    os.system("3.mp3")

# Conclusion

### The criteria is only based on the group of people and the hotel management is made by voice to text format